html, body, #root, .App {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

#root {
  width: 100%;
  height: 100%;
}

.App-header, .footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
  width: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
}

.main, .no-data {
  background: #2b2c3b;
  color: #EDEDFC;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
